## th_covid_2021 (Raw Data)

In [15]:
import pandas as pd
import seaborn as sns
print(f'pandas version: {pd.__version__}')
print(f'seaborn version: {sns.__version__}')
# This code was ran in Python 3.9.7

pandas version: 1.3.4
seaborn version: 0.11.2

## 2021 monthly cases by country

In [31]:
dfs1=pd.read_html('https://en.wikipedia.org/wiki/COVID-19_pandemic_cases',header=0)
dfs1[4]

,Date,First case,Jan 1,Feb 1,Mar 1,Apr 1,May 1,Jun 1,Jul 1,Aug 1,Sep 1,Oct 1,Nov 1,Dec 1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,NaN,81963694.0,102593717.0,113793180.0,128575654.0,150989419.0,170448610.0,181967904.0,197882160.0,217734504.0,233678071.0,246693366.0,262275617.0
2,Days to double,NaN,74.0,80.0,95.0,113.0,126.0,139.0,164.0,185.0,NaN,NaN,NaN,NaN
3,Countries and territories,NaN,222.0,223.0,223.0,223.0,223.0,223.0,223.0,223.0,224.0,225.0,226.0,226.0
4,USA,"January 23, 2020",19346790.0,25817939.0,28244591.0,30095776.0,31948761.0,32938999.0,33333002.0,34766907.0,38936362.0,43092756.0,45665262.0,48162778.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Palau,"August 23, 2021",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,8.0,8.0
226,Vanuatu,"November 11, 2020",1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,5.0,5.0
227,Marshall Islands,"October 28, 2020",4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
228,Samoa,"January 20, 2021",0.0,2.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
229,Tonga,"October 30, 2021",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

## Population Count by country

In [30]:
dfs2=pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population',header=0)
dfs2[0]

,Rank,Country / Dependency,Region,Population,% of world,Date,Source (official or from the United Nations),Notes
0,–,world,World,7931119000,NaN,19 Feb 2022,UN projection[1],NaN
1,1,China,Asia,1412600000,NaN,31 Dec 2021,National annual estimate[2],The population figure refers to mainland China...
2,2,India,Asia,1388235200,NaN,19 Feb 2022,National population clock[3],The figure includes the population of Jammu an...
3,3,United States,Americas,333253809,NaN,19 Feb 2022,National population clock[4],Includes the 50 states and the District of Col...
4,4,Indonesia[b],Asia,271350000,NaN,31 Dec 2020,National annual estimate[5],NaN
...,...,...,...,...,...,...,...,...
237,–,Niue (New Zealand),Oceania,1549,NaN,1 Jul 2021,National annual projection[92],NaN
238,–,Tokelau (New Zealand),Oceania,1501,NaN,1 Jul 2021,National annual projection[92],NaN
239,195,Vatican City,Europe,825,NaN,1 Feb 2019,Monthly national estimate[196],The total population of 825 consisted of 453 r...
240,–,Cocos (Keeling) Islands (Australia),Oceania,573,NaN,30 Jun 2020,National annual estimate[195],NaN
241,–,Pitcairn Islands (United Kingdom),Oceania,40,NaN,1 Jan 2021,National annual estimate[197],NaN